<html lang="en">
<head>
</head>
<body>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <a class="navbar-brand" href="" v-on:click.prevent="rapi">RapiSolver</a>
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="" v-on:click.prevent="miperfil">Mi perfil</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href=""  v-on:click.prevent="publicarServicio">Publicar Servicio</a>
    </li>
     <li class="nav-item">
      <a class="nav-link" href="" v-on:click.prevent="buscarServicio">Buscar Servicio</a>
    </li>
     <li class="nav-item">
      <a class="nav-link" href="" v-on:click.prevent="buscarPersonas">Buscar Personas</a>
    </li>
  </ul>
</nav>
<br>
<br>
<div class="container">
  <div class="card">
    <div class="front">
      <div class="logo"><span></span></div>
    </div>
    <div class="back">
      <h1>0<span>0</span></h1>
      <ul id="ui1">
        <li id="l1"></li>
        <li id="l2"></li>
        <li id="l3"></li>
        </ul>
    </div>
    </div>
  </div>

  <br>
 

<button class="tablink"  id="btn1">Recomendaciones</button>
<button class="tablink"  id="btn2">Servicios</button>

<div id="Contact" class="tabcontent">
	<form id="formulario" >
		<div class="form-group" >
			<label >Descripcion:</label> <input type="text" class="form-control col-lg-3 col-md-3 col-xs-12" placeholder="Ingrese la descripcion del proveedor" > 
		</div>
        <div class="form-group" >
			<label >Puntaje:</label><br>
           <select class="browser-default custom-select form-control col-lg-3 col-md-3 col-xs-12"  >
                <option selected>Seleccion el Puntaje</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
		</div>
        <button  class="btn btn-primary">Agregar</button>
	</form>
    <br>
  <div class="card" id="cardRecomendacion">
			<div class="card-header text-white bg-secondary"></div>
			<div class="card-body">
                <ul class="list-group" >
					<li class="list-group-item">Puntaje: </li>
					<li class="list-group-item">Categoria: </li>
				</ul>
			</div>  
	</div>
</div>

<div id="About" class="tabcontent">
    <div class="card" id="cardServicio" >
     <h1 id="h1name"></h1>
     <p class="price" >	S/</p>
     <p class="description" ></p>
     <p><button>Contactar</button></p>
   </div>
   </div>
   
   
   
	
</body>
</html>
