<html lang="en">
<head>
    <link href="../assets/static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet"
	type="text/css">
<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700"
	rel="stylesheet" type="text/css">
<link href='https://fonts.googleapis.com/css?family=Kaushan+Script'
	rel='stylesheet' type='text/css'>
<link
	href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic'
	rel='stylesheet' type='text/css'>
<link
	href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700'
	rel='stylesheet' type='text/css'>

<!-- Custom styles for this template -->
<link href="../assets/static/css/agency.min.css" rel="stylesheet">
</head>
<body>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <a class="navbar-brand" id="logo" href="#" >RapiSolver</a>
         <div id="navbarNavDropdown" class="navbar-collapse collapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                       <a class="nav-link" [routerLink]="['/miPerfil/',this.route.snapshot.params.id2 ]">Mi perfil</a>
                   </li>
                   <li class="nav-item">
                      <a class="nav-link" [routerLink]="['/agregarServicio/',this.route.snapshot.params.id2 ]">Publicar Servicio</a>
                   </li>
                   <li class="nav-item">
                       <a class="nav-link" [routerLink]="['/listarServicios/',this.route.snapshot.params.id2 ]">Buscar Servicio</a>
                    </li>
                   <li class="nav-item">
                      <a class="nav-link" [routerLink]="['/buscarSupplier/',this.route.snapshot.params.id2 ]">Buscar Proveedor</a>
                   </li>
                </ul>
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a href="" [routerLink]="['/login/']" class="btn btn-info btn-lg"> <span class="glyphicon glyphicon-log-out"></span> Salir </a>
                    </li>
                </ul>
            </div>
      
    </nav>
<br>
<br>
<div class="container">
  <div class="card">
    <div class="front">
      <img src="../assets/img_avatar.png" alt="Avatar" style="width:300px;height:300px;">
    </div>
    <div class="back">
      <h1>{{supplier.name}}<span>{{supplier.lastName}}</span></h1>
      <ul id="ui1">
        <li id="l1">{{supplier.phone}}</li>
        <li id="l2">{{supplier.email}}</li>
        <li id="l3">{{supplier.address}}</li>
        </ul>
    </div>
    </div>
  </div>

  <br>
 

<button class="tablink" (click)="openPage('Contact', this, 'blue')"  id="btn1">Recomendaciones</button>
<button class="tablink"  (click)="openPage('About', this, 'orange')" id="btn2">Servicios</button>

<div id="Contact" class="tabcontent">
    <form id="formulario" (ngSubmit)="registrarRecomendacion()">
      
          <div class="form-group" >
            <div class="container-fluid gedf-wrapper" id="grupo4">
          <div class="row">
             
              <div class="col-md-2 gedf-main">
  
                  <!--- \\\\\\\Post-->
                  <div class="card gedf-card">
                      <div class="card-header">
                          <ul class="nav nav-tabs card-header-tabs" id="myTab" role="tablist">
                              <li class="nav-item">
                                  <a class="nav-link active" id="posts-tab" data-toggle="tab" href="#posts" role="tab" aria-controls="posts" aria-selected="true">Crea una recomendacion</a>
                              </li>
                              
                          </ul>
                      </div>
                      <div class="card-body">
                          <div class="tab-content" id="myTabContent">
                              <div class="tab-pane fade show active" id="posts" role="tabpanel" aria-labelledby="posts-tab">
                                  <div class="form-group">
                                      <label class="sr-only" for="message">post</label>
                                      <textarea class="form-control" id="message" rows="3" placeholder="Escribe tu comentario."  name="note" required [(ngModel)]="recommendation.note"></textarea>
                                  </div>
                                  
                                <div class="form-group">
                                  <label >Puntaje:</label><br>
                                     <select class="browser-default custom-select form-control col-lg-3 col-md-3 col-xs-12" name="mark" required [(ngModel)]="recommendation.mark" >
                                     <option selected>Seleccion el Puntaje</option>
                                     <option value="1">1</option>
                                     <option value="2">2</option>
                                     <option value="3">3</option>
                                    <option value="4">4</option>
                                     <option value="5">5</option>
                                   </select>
                                  </div>
  
                              </div>
                             
                          </div>
                          <div class="btn-toolbar justify-content-between">
                              <div class="btn-group">
                                  <button  class="btn btn-primary">Agregar</button>
                              </div>
                            
                          </div>
                      </div>
                  </div>
                  <!-- Post /////-->
                  <br>
                  <!--- \\\\\\\Post-->
                  <ng-container *ngFor="let recomendacion of grupoRecomendaciones">
                  <div class="card gedf-card" id="cardRecomendacion" >
                      <div class="card-header" >
                          <div class="d-flex justify-content-between align-items-center">
                              <div class="d-flex justify-content-between align-items-center">
                                  <div class="mr-2">
                                      <img class="rounded-circle" width="45" src="https://picsum.photos/50/50" alt="">
                                  </div>
                                  <div class="ml-2">
                                      <div class="h5 m-0">{{recomendacion.email}}</div>
                                      <div class="h7 text-muted">Puntaje:  {{recomendacion.mark}}</div>
                                  </div>
                              </div>
                              <div>
                                
                              </div>
                          </div>
  
                      </div>
                      <div class="card-body">
                          
                          <a class="card-link" href="#">
                              <h5 class="card-title"> Comentario:{{recomendacion.note}}</h5>
                          </a>
  
                         
                      </div>
                     
                     
                  </div>
                </ng-container>
   
  
  
              </div>
             
          </div>
      </div>
      
      </div>
          
          
    </form>
      <br>
  
  </div>

  <div id="About" class="tabcontent">
      <ng-container *ngFor="let servicio of grupoServicios">
   <div class="card" id="cardServicio" >
    <h1 id="h1name">{{servicio.name}}</h1>
    <p class="price" >{{servicio.cost}}	S/</p>
    <p class="description" >{{servicio.description}}</p>
    <p><button  (click)="agregarReserva(servicio.id)">Contactar</button></p>
  </div>
  <br>
  </ng-container>
  </div>
  
   
	
</body>
</html>
