<br>
<div class="container">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title text-center">Registrate</h5>
                <form (ngSubmit)="registrarUsuario()" id="formulario" class="form-signin" >
                    <div class="form-group" >
                        <label for="nombres">Nombres:</label> 
                        <input type="text" class="form-control" placeholder="Ingrese Nombres" minlength="5" maxlength="40" required pattern="[A-Za-z]+" name="nombres" [(ngModel)]="cliente.name"> 
                    </div>
                    <div class="form-group" >
                        <label for="apellidos">Apellidos:</label> 
                        <input type="text" class="form-control" placeholder="Ingrese Apellidos" minlength="5" maxlength="40" required pattern="[A-Za-z]+" name="apellidos" [(ngModel)]="cliente.lastName">  
                    </div>
                    <div class="form-group" >
                        <label for="email">Email:</label> 
                        <input type="email" class="form-control" placeholder="Ingrese un email" name="correo" [(ngModel)]="usuario.correo"> 
                    </div>
                    <div class="form-group" >
                        <label for="contraseña">Contraseña::</label> 
                        <input type="password" class="form-control" placeholder="Ingrese una contraseña" name="password" minlength="5" maxlength="40" [(ngModel)]="usuario.userPassword"> 
                    </div> 
                    <div class="form-group">
                        <button  type="submit"  class="btn btn-primary btn-lg">Registrarse</button>  
                    </div>  
                </form>
            </div>
        </div>
    </div>
</div>