
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <a class="navbar-brand" id="logo" href="#" >RapiSolver</a>
    <div id="navbarNavDropdown" class="navbar-collapse collapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" routerLink="">Mi perfil</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="">Publicar Servicio</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="">Buscar Servicio</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="">Buscar Proveedor</a>
            </li>
        </ul>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" routerLink="login">Log In</a>
            </li>
        </ul>
    </div>
</nav>
