<html lang="en">
    <head>
        <!-- Custom fonts for this template -->
    <link href="../assets/static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
    
    <!-- Custom styles for this template -->
    <link href="../assets/static/css/agency.min.css" rel="stylesheet">
    </head>
    <body>
    
     <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <a class="navbar-brand" id="logo" href="#" >RapiSolver</a>
         <div id="navbarNavDropdown" class="navbar-collapse collapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                       <a class="nav-link" [routerLink]="['/miPerfil/',this.route.snapshot.params.id ]">Mi perfil</a>
                   </li>
                   <li class="nav-item">
                      <a class="nav-link" [routerLink]="['/agregarServicio/',this.route.snapshot.params.id ]">Publicar Servicio</a>
                   </li>
                   <li class="nav-item">
                       <a class="nav-link" [routerLink]="['/listarServicios/',this.route.snapshot.params.id ]">Buscar Servicio</a>
                    </li>
                   <li class="nav-item">
                      <a class="nav-link" [routerLink]="['/buscarSupplier/',this.route.snapshot.params.id ]">Buscar Proveedor</a>
                   </li>
                </ul>
                <ul class="navbar-nav">
                    <li class="nav-item">
                      <a href=""  class="btn btn-info btn-lg"> <span class="glyphicon glyphicon-log-out"></span> Salir </a>
                    </li>
                </ul>
            </div>
      
    </nav>
    
    <div id="mensaje2" class="alert alert-success " style="display: none">
        <strong> <p class="padd-top" id="mensaje"></p></strong>
    </div>
<br>

<div id="labelCrearUsuario"><h2>Registrar Reserva</h2></div><br>
<form id="formulario" (ngSubmit)="registrarReserva()" >
    <div class="form-group" >
        <label >Descripcion:</label> <br><textarea  class="form-control col-lg-3 col-md-3 col-xs-12" name="comentarios" rows="10" cols="40" 
        name="Note" required [(ngModel)]="reserva.Note"name="note" required [(ngModel)]="reserva.note">Escribe aquí tus comentarios</textarea>   
    </div>
    <div class="form-group" >
        <label >Fecha:</label><br>
       <input class="form-control col-lg-3 col-md-3 col-xs-12" type="date"  name="fecha" required [(ngModel)]="reserva.fecha" >
    </div>
     <button class="btn btn-primary">Agregar</button>
</form>


    
    </body>
    </html>