.checked {
    color: orange;
  }
  #cardSupplier{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
     width: 20%;
    max-width: 300px;
    height: 300px;
    top: -390px;
    left: 1000px;
  }
  #card1 {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 50%;
  }
  img_avatar.png
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  .container {
    padding: 2px 16px;
  }