<html lang="en">
    <head>
    </head>
    <body>
        
    
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <a class="navbar-brand" href="">RapiSolver</a>
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="" >Mi perfil</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" >Publicar Servicio</a>
        </li>
         <li class="nav-item">
          <a class="nav-link" href="">Buscar Servicio</a>
        </li>
         <li class="nav-item">
          <a class="nav-link" href="">Buscar Personas</a>
        </li>
      </ul>
    </nav>
    
    <br/>


    <div id="labelCrearUsuario"><h2>Registro Servicio</h2></div><br>
	<form id="formulario" (ngSubmit)="registrarDetalle()" >
		<div class="form-group" >
			<label >Nombre:</label> <input type="text" class="form-control col-lg-3 col-md-3 col-xs-12" id="ServiceName"
      name="ServiceName" placeholder="Ingrese nombre del servicio"  required [(ngModel)]="detalle.ServiceName"> 
		</div>
		<div class="form-group" >
			<label >Descripcion:</label> <br><textarea  class="form-control col-lg-3 col-md-3 col-xs-12" id="Description"
      name="Description" rows="10" cols="40" required [(ngModel)]="detalle.Description">Escribe aquí tus comentarios</textarea>   
		</div>
		<div class="form-group" >
			<label >Costo:</label> <input type="text" class="form-control col-lg-3 col-md-3 col-xs-12" id="Cost"
      name="Cost" placeholder="Ingrese el costo del servicio" required [(ngModel)]="detalle.Cost" > 
		</div>
        <div class="form-group" >
			<label >Categoria:</label><br>
           <select class="browser-default custom-select form-control col-lg-3 col-md-3 col-xs-12" id="CategoryName"
           name="CategoryName" required [(ngModel)]="detalle.CategoryName">
                <option selected >Seleccion la categoria</option>
                <ng-container *ngFor="let categoria of categoryGroup"><option>{{categoria.categoryName}}</option></ng-container>
                
            </select>
		</div>
		<div class="form-group" >
			
		</div>
         <button v-on:click.prevent="post" class="btn btn-primary">Agregar</button>
	</form>


    
    
        
    </body>
    </html>